body {
    background-color: #f0f0f0;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

h1 {
    color: #158631;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #af1212;
    margin: 10px;
    padding: 40px;

}

img {
    display: block;
}

a {
    color: #9d04c4;
}
